* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

header h1 {
  font-size: 30px;
  padding-left: 20px;
  padding-right: 50px;
}

.i2 {
  display: none;
}

header ul {
  list-style-type: none;
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}

header ul li a {
  text-decoration: none;
  color: black;
}

#loginButton {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 0%;
}

#loginButton button {
  margin: 0 10px;
  padding: 1em 2em;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 500;
}

.btn1 {
  border: 2px solid black;
  
}

#content {
  display: flex;
  margin: 20px 150px;
}

#left {
  width: 700px;
  margin-left: 20px;
}

#left h1 {
  width: 470px;
  font-size: 60px;
  margin-top: 60px;
}

#left p {
  width: 400px;
  margin-top: 30px;
  line-height: 22px;
  font-size: 17px;
}

#left button {
  margin-top: 45px;
  padding: 15px 25px;
  border: 0;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

#left img {
  margin-top: 70px;
}

@media (max-width: 940px) {
  #main {
    display: flex;
    flex-direction: column;
  }

  header {
    width: 100%;
    height: 40%;
    display: flex;
    padding: 10px 20px;
  }

  header h1 {
    height: 50px;
    margin-left: -10px;
  }

  .i2 {
    display: block;
    margin-left: auto;
    margin-right: 20px;
    font-size: 35px;
  }

  header ul {
    display: none;
  }

  #loginButton {
    display: none;
  }

  #content {
    display: flex;
    flex-direction: column-reverse;
    margin: -20px 0px;
  }

  #right img {
    width: 100%;
  }

  #left {
    width: 100%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #left h1 {
    width: 95%;
    font-size: 35px;
    margin-top: 10px;
  }

  #left p {
    width: 90%;
    margin-top: 20px;
    line-height: 22px;
    font-size: 17px;
  }

  #left button {
    margin: 25px 50% 0 25%;
    width: 150px;
    padding: 10px 20px;
  }

  #left img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    margin-left: -10px;
  }
}
